html
  head
    title= "Restaurant Roulette"
  body
    h1= "Restaurant Roulette"
    form(
      method="GET"
      action="/search"
    )
      input(
        type="text"
        name="query"
        value= query
      )
      input(
        type="submit"
        value="Submit"
      )
    h3= venueName
    h4= venueAddress